<p id="notice"><%= notice %></p>

<p>
  <b>A string:</b>
  <%= @rc_data_type_table.a_string %>
</p>

<p>
  <b>A text:</b>
  <%= @rc_data_type_table.a_text %>
</p>

<p>
  <b>An integer:</b>
  <%= @rc_data_type_table.an_integer %>
</p>

<p>
  <b>A float:</b>
  <%= @rc_data_type_table.a_float %>
</p>

<p>
  <b>A decimal:</b>
  <%= @rc_data_type_table.a_decimal %>
</p>

<p>
  <b>A datetime:</b>
  <%= @rc_data_type_table.a_datetime %>
</p>

<p>
  <b>A timestamp:</b>
  <%= @rc_data_type_table.a_timestamp %>
</p>

<p>
  <b>A time:</b>
  <%= @rc_data_type_table.a_time %>
</p>

<p>
  <b>A date:</b>
  <%= @rc_data_type_table.a_date %>
</p>

<p>
  <b>A binary:</b>
  <%= @rc_data_type_table.a_binary %>
</p>

<p>
  <b>A boolean:</b>
  <%= @rc_data_type_table.a_boolean %>
</p>


<%= link_to 'Edit', edit_rc_data_type_table_path(@rc_data_type_table) %> |
<%= link_to 'Back', rc_data_type_tables_path %>
